Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        rolebased:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_get_secrets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # O ARN do segredo específico para este serviço
      SECRET_ARN="arn:aws:secretsmanager:sa-east-1:SEU_ID_DA_CONTA:secret:loja/user-service/secrets-XXXXXX"

      # Região da AWS onde o segredo está
      AWS_REGION="sa-east-1"

      # Caminho do arquivo que irá guardar as variáveis de ambiente
      ENV_FILE="/opt/elasticbeanstalk/deployment/env"

      echo "Fetching secrets from AWS Secrets Manager..."

      # Busca os segredos e formata como "export NOME=VALOR"
      aws secretsmanager get-secret-value --secret-id $SECRET_ARN --region $AWS_REGION --query SecretString --output text | jq -r 'to_entries|map("export \(.key)=\"\(.value|tostring)\"")|.[]' >> $ENV_FILE

      echo "Secrets fetched and exported to environment."

packages:
  yum:
    jq: []